.notification {
  color: black;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog {
  border-style: double;
  padding-left: 5px;
  border-radius: 10px;
  border-color: pink; 
}

button {
  background-color: #ffb6b9;
  border: none;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 1px;
}

body {
  background-color: #beebe9
}